<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>/* body {
	font-family: '阿里东方大楷';

}

@font-face {
	font-family: "阿里妈妈东方大楷 Regular";
	font-weight: 400;
	src: url("//at.alicdn.com/wf/webfont/M0laUeNsrdG3/X17JA8qV4O6p.woff2") format("woff2"),
		url("//at.alicdn.com/wf/webfont/M0laUeNsrdG3/OtEIoVOwEJzl.woff") format("woff");
	font-display: swap;
} */